body {
  min-height: 800px;
}

.banner {
  background: url('../images/Duke-Kahanamoku-Statue-Waikiki-Beach2.png');
  background-size: cover;
  height: 200px;
}

.navbar {
  border-radius: 0px;
}

.carousel-image {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bio-image {
  background-size: cover;
  background-position: center;
  height: 250px;
}

