body {
    padding-top: 70px;  /* Move body of page below navbar. */
}

.wave-icon {
  height:50px;
}

.banner {
  background: url('../images/Duke-Kahanamoku-Statue-Waikiki-Beach2.png');
  background-size: cover;
  height: 200px;
}

.navbar {
  border-radius: 0px;
}

.carousel {
    margin-bottom:20px;
}
.carousel-image {
  background-size: cover;
  background-position: center;
  height: 400px;
}

.bio-image {
  background-size: cover;
  background-position: center;
  height: 250px;
}

