@(message: String)

@Main("Adriano de Souza") {
   <div class="row">
  </div>
   <div class="row">
   <div class="col-md-4">
      <div class="well">
        <div class="adriano"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <h1 id="intro">Adriano de Souza</h1>
        <p class="page"> Adriano De Souza rode his first wave at eight years old and eight years later 
        the surf world would take notice of this young, talented surfer at the Billabong ASP World Junior Championships. 
        At the 2004 event, 
        he defeated opponents four years his senior and was named the youngest ASP World Junior Champion ever at 16.</p>
       <p class="page">Spectators observed his fast, energetic surfing and he quickly became known as one of the most exciting 
       surfers to watch. In 2005, he won the ASP WQS by the widest margin in history. 
       That win took him into his first year on the ASP World Tour where he finished an impressive 18th in the world. 
       Although his style is more conducive to smaller beachbreaks, 
       he is showing his competitors that he can also handle big wave surf, 
       giving his country hope that he has what it takes to transition from a junior champion to something much more. 
       To date, he's one of the most ferocious competitors the sport has ever seen and it shows in the ratings, 
       with consistent top 10 overall finishes since 2008, 
       positioning himself as a serious contender for a world title.</p>

      </div>
    </div>
  </div>
}
