@(message: String) 

@Main("Bethany Hamilton") {
<div class="container">
  <div class="row">

    <div class="col-md-4 bethany"></div>

    <div class="col-md-8">
      <div class="well">
        <p>On October 31, 2003, at the age of 13, Hamilton went for a morning surf along Tunnels Beach, Kauai with
          best friend Alana Blanchard and Alana's father and brother. Around 7:30 a.m., with numerous turtles in the
          area, she was lying on her surfboard with her left arm dangling in the water, when a 14 to 15-foot tiger shark
          attacked her, severing her left arm just below the shoulder. The Blanchards helped paddle her back to
          shore, then Alana's father fashioned a tourniquet out of a surfboard leash and wrapped it around the stump of
          her arm, before she was rushed to Wilcox Memorial Hospital. By the time she arrived there she had lost over
          60% of her blood and was in hypovolaemic shock. Her father, who was scheduled to have knee surgery that
          morning, was already at the hospital, but she took his place in the operating room. She spent a week in
          recovery before being released from the hospital. During subsequent media interviews, she confirmed that she
          felt normal when she was bitten and did not feel much pain from the bite at the moment of the disaster, but
          felt numb during the ambulance ride to the hospital.</p>

        <p>When the news broke out of the shark attack, a family of fishermen led by a man named Ralph Young,
          presented to investigators photos of a 15-foot-long tiger shark they had caught and killed about one mile from
          the attack site. The shark had surfboard debris in its mouth. When measurements of the shark's mouth were
          compared with those of Hamilton's demolished surfboard, it matched. In late 2004, the police officially
          confirmed that the shark was the one that bit Bethany Hamilton.</p>

        <p>Despite the trauma of the incident, Hamilton was determined to return to surfing. Less than one month
          after the incident, she returned to her board. Initially, she adopted a custom-made board that was longer and
          slightly thicker than standard and had a handle for her right arm, making it easier to paddle, and she learned
          to kick more to make up for the loss of her left arm. After teaching herself to surf with one arm, on January
          10, 2004, she entered a major competition. She now uses standard competitive performance short-boards.</p>

        <p>Hamilton's broken bitten surfboard that she was riding during the attack is on display at the California
          Surf Museum.</p>
      </div>
    </div>
  </div>
</div>
}
