@(message: String) 

@Main("Jake Marshall") {
<div class="container">
  <div class="row">

    <div class="col-md-4 jake">
    </div>

    <div class="col-md-8">
      <div class="well">
        <p>Many young surfers have the potential to make an impact on our sport, but none look more poised to do so
          than Jake Marshall. Raised on the rippable beachbreaks and reefs of San Diego’s North County, Jake has
          developed a solid base of smooth rail work as well as the kind of flair that few 14-year-old surfers can
          match. His progression is due in no small part to the numerous world-class talents in his neighborhood that
          have taught him a thing or two about tearing Seaside apart. “I see Rob Machado, Josh Kerr, Damien Hobgood, and
          Taylor Knox out all the time, and it’s really fun to surf with guys on that level,” says Jake. “I look at them
          and think, ‘That’s how I have to surf if I want to make the Tour one day.’ That really helps me push my
          limits.” Already, he’s had remarkable success in a jersey, including a recent win at the U.S. Surfing
          Championships at Lower Trestles. But while surf stardom seems inevitable for Jake, he’s still just a kid, and
          knows where his priorities should be. “I surf and try to improve all the time, but I still put a lot of
          emphasis on school,” says Jake. “I know that education is really important, and if surfing doesn’t work out,
          it’s always good to have a backup plan.</p>
      </div>
    </div>
  </div>
</div>
}
