@(message: String) 

@Main("Kolohe Andino") {
<div class="container">

  <div class="well">
    <div class="row">
      <div class="col-md-4">

        <div class="kolohe"></div>

      </div>


      <div class="col-md-8">
        <p>Kolohe Andino (born March 22, 1994 in San Clemente, California) is an American surfer. He began to surf
          at age 10 and holds the record for the most National Scholastic Surfing Association championships won by a
          male competitor (9) . He won both the ASP 6-Star Quicksilver Brazil Open of Surfing[1] and the Vans Pier
          Classic world tour events in 2011. Andino's sponsors include Oakley eyewear and Hurley wetsuits and clothing.</p>


      </div>
    </div>
  </div>

</div>
}
