@(message: String) 

@Main("Laird Hamilton") {
<div class="container">
  <div class="row">

    <div class="col-md-4 pagecontent">
      <div class="well">
        <div class="laird-img"></div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="well">
        <h3>Laird Hamilton</h3>
        <p>Laird was born Laird John Zerfas in San Francisco on March 2, 1964, in an experimental salt-water sphere
          at UCSF Medical Center designed to ease the mother's labor. His Greek birth father, L. G. Zerfas, left the
          family before his first birthday. While he was an infant, Laird and his mother, Joann, moved to Hawaii. While
          still a young boy living on Oahu, Laird met with 1960s surfer Bill Hamilton, a bachelor at the time, on
          Pūpūkea beach on the North Shore. Bill Hamilton was a surfboard shaper and glasser on Oahu in the 1960s and
          1970s and owned a small business handmaking custom, high-performance surfboards for the Oahu North Shore big
          wave riders of the era. The two became immediate companions. The young Laird invited Bill Hamilton home to
          meet his mother. Bill Hamilton married Laird's then-single mother, becoming Laird's adoptive father.</p>

        <p>The family later moved to a remote valley on Kauaʻi island. Joann and Bill had a second son, Lyon,
          Laird's half-brother, who also became a surfer. Laird's mother died of a brain aneurysm in 1997.</p>

        <p>Hamilton had a reputation for an aggressive demeanor around others of his age. This hostile attitude was
          in part due to Laird and his brother Lyon being bigger than their classmates, fair-skinned, and blonde:
          unusual in their predominantly Hawaiian-populated neighborhood. The role of the outsider profoundly affected
          Laird through to his teen years and early adult life. He became used to this role and was uncomfortable being
          in the center of anything. He was also known for his physical and mental toughness. Young Laird is shown in
          early video footage jumping off a 60-foot cliff into deep water at 7 years of age.</p>
      </div>
    </div>
  </div>
</div>
}
