@(page: String, isLoggedIn: Boolean, user: User, typeList: Map[String,Boolean], countryList: Map[String,Boolean], searchForm : Form[views.formdata.SearchFormData])(content: Html)
@import helper.form 
@import bootstrap3._

<!DOCTYPE html>

<html>
    <head>
        <title>@page (surferpedia)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        
        <!--  Load site-specific customizations after bootstrap. -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->
    </head>
    <body>
    
    <!--<div class="banner"></div>
      Responsive navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Surferpedia</a>
        <!-- <img class="wave-icon" src="@routes.Assets.at("images/wave-icon.png")"/> -->
        </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

<!--          @if(isLoggedIn) {

          <li class="@(" active".when(page=="NewSurfer"))"><a href="@routes.Application.newSurfer()">New</a></li>
          <li class="@(" active".when(page=="Update"))"><a href="@routes.Application.updateSurfer()">Updates</a></li> } -->

          @if(page != "Login" && page != "Registration") { @form(routes.Application.surferSearch(), 'class -> "navbar-form navbar-left") {
          @search(searchForm("name"), placeholder = "Name") @searchselect(searchForm("surferType"), searchType = "Type",
          optionMap = typeList, isMultiple = false) @searchselect(searchForm("country"), searchType = "Country",
          optionMap = countryList, isMultiple = false)
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          } }
        </ul>


        <ul class="nav navbar-nav navbar-right">


          @if(isLoggedIn) {
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@user.getFirst()<b
              class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="@(" active".when(page=="Manage"))"><a href="@routes.Application.newSurfer()">New
                  Surfer</a></li>
              <li class="@(" active".when(page=="Update"))"><a href="@routes.Application.updateSurfer()">Updates</a></li>
                  
            </ul></li>
          <li><a href="@routes.Application.logout()">Logout</a></li> } else { 
         
          <li><a href="@routes.Application.register()">Register</a></li>
          <li><a href="@routes.Application.login()">Login</a></li>  }
        </ul>
      </div>

    </div>
  </div>
      <!-- <div class="well">

          <div class="bs-sidebar">
            <ul class="nav sidenav">
              <li><a href="#">Main Page</a></li>
              <li><a href="#">Featured Content</a></li>
              <li><a href="#">Random Surfer</a></li>
            </ul>
          </div>
        </div> -->
      <div class="col-sm-12">
      @content
      </div>
  <!-- Load Bootstrap JavaScript components. HTMLUnit (used in testing) requires JQuery 1.8.3 or below). -->
      <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
