@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, SurferForm: Form[views.formdata.SurferFormData], SurferTypeMap: Map[String, Boolean], FootStyleMap: List[String], Surfers: List[Surfer], ReadOnly:Boolean, typeList: Map[String,Boolean], countryList: Map[String,Boolean], searchForm : Form[views.formdata.SearchFormData]) 
@import helper.form 
@import bootstrap3._

@Main(page, isLoggedIn, userInfo, Surfers, typeList, countryList, searchForm) {
<div class="container">
    
  @form(routes.Application.postSurfer(), 'class -> "form-horizontal") {

    @text(SurferForm("name"),
          label = "Name",
          placeholder = "Eddie Aikau",
          help = "The name of the surfer.",
          readonly = false)
    
    @text(SurferForm("country"),
          label = "Country",
          placeholder = "United States",
          help = "The surfer's country.",
          readonly = false)
          
    @text(SurferForm("home"),
          label = "Home",
          placeholder = "Kahului, Hawaii",
          help = "The surfer's home town.",
          readonly = false)
      
    @text(SurferForm("awards"),
          label = "Awards",
          placeholder = "1977 Duke Kahanamoku Invitational Surfing Championship.",
          help = "Optional: List of titles and surfing awards.",
          readonly = false)
    
    @text(SurferForm("carouselUrl"),
          label = "Carousel URL",
          placeholder = "http://example.com/picture.jpg",
          help = "A URL to the picture to be presented in the home page carousel of surfers.",
          readonly = false)
    
    @text(SurferForm("bioUrl"),
          label = "Bio URL",
          placeholder = "http://example.com/picture.jpg",
          help = "A URL to the picture to be presented in the bio page for this surfer.",
          readonly = false)
    
    @textarea(SurferForm("bio"),
            rows = "10",
            label = "Bio",
            placeholder = "Bio statement goes here.",
            help = "One paragraph description of this surfer.")
    
    @text(SurferForm("slug"),
          label = "Slug",
          placeholder = "eddieaikau",
          help = "Letters and digits to be used to identify the surfers in URLs; i.e. http://surferpedia.com/surfer/eddieaikau",
          readonly = ReadOnly)

    @select(SurferForm("type"),
            label = "Type",
            optionMap = SurferTypeMap,
            isMultiple = false,
            help = "The type of surfer for placement in the menu.")
            
      <!-- Grade Level -->
    @radiobuttons(SurferForm("footstyle"),
                label = "footstyle",
                buttonNameList = FootStyleMap,
                help = "Select the surfer's foot style. (required)")
            
          
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </div>
  }
</div>
}