@(page: String, isLoggedIn: Boolean, user: User, SurferForm: Form[views.formdata.SurferForm], 
FootStyleMap: List[String], typeList: Map[String,Boolean], countryList: Map[String,Boolean], 
searchForm : Form[views.formdata.SearchForm]) 

@import helper.form 
@import bootstrap3._

@Main(page, isLoggedIn, user, typeList, countryList, searchForm) {
<div class="container">
    
  @form(routes.Surfers.postSurfer(), 'class -> "form-horizontal") {


    @hidden(SurferForm("isEditable"))    

    @text(SurferForm("name"),
          label = "Name",
          placeholder = "Eddie Aikau",
          help = "The name of the surfer.")
    
    @text(SurferForm("country"),
          label = "Country",
          placeholder = "United States",
          help = "The surfer's country.")
          
    @text(SurferForm("home"),
          label = "Home",
          placeholder = "Kahului, Hawaii",
          help = "The surfer's home town.")
      
    @text(SurferForm("awards"),
          label = "Awards",
          placeholder = "1977 Duke Kahanamoku Invitational Surfing Championship.",
          help = "Optional: List of titles and surfing awards.")
    
    @text(SurferForm("carouselUrl"),
          label = "Carousel URL",
          placeholder = "http://example.com/picture.jpg",
          help = "A URL to the picture to be presented in the home page carousel of surfers.")
    
    @text(SurferForm("bioUrl"),
          label = "Bio URL",
          placeholder = "http://example.com/picture.jpg",
          help = "A URL to the picture to be presented in the bio page for this surfer.")
    
    @text(SurferForm("vidUrl"),
          label = "Video URL",
          placeholder = "http://example.com/video",
          help = "Optional: URL must be in this format http://youtube.com/embed/j0DbZeliwrY or video will not work.")
    
    @textarea(SurferForm("bio"),
            rows = "10",
            label = "Bio",
            placeholder = "Bio statement goes here.",
            help = "One paragraph description of this surfer.")
    
    @slug(SurferForm("slug"),
          label = "Slug",
          placeholder = "eddieaikau",
          help = "Letters and digits to be used to identify the surfers in URLs; i.e. http://surferpedia.com/surfer/eddieaikau")

    @select(SurferForm("type"),
            label = "Type",
            optionMap = typeList,
            isMultiple = false,
            help = "The type of surfer for placement in the menu.")
            
    @radiobuttons(SurferForm("footstyle"),
                label = "footstyle",
                buttonNameList = FootStyleMap,
                help = "Select the surfer's foot style. (required)")
            
          
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button id="submit" type="submit" class="btn btn-default">Add</button>
    </div>
  </div>
  }
</div>
}
