@(message: String) @Main("Stephanie Gilmore") {
<div class="container">
  <div class="row">

    <div class="col-md-4 stephanie"></div>

    <div class="col-md-8">
      <div class="well">
        <p>Stephanie Louise Gilmore is an Australian professional surfer and five-time world champion on the Women's
          ASP World Tour (2007, 2008, 2009, 2010, 2012). She was born in Murwillumbah, New South Wales, Australia on 29
          January 1988 and currently resides in Tweed Heads, New South Wales, Australia. Gilmore's life as a surfer
          began at age 10 when she stood on a bodyboard. By age 17 she was entering world tour events as a wild card
          competitor, which paid off with a victory at the 2005 Roxy Pro Gold Coast. In her next season she won another
          wild card event, the 2006 Havaianas Beachley Classic. Gilmore's success on the WQS (World Qualifying Series)
          tour qualified her for the 2007 Women's ASP World Tour and she did not disappoint. She won four of the eight
          events and claimed the 2007 World Title. She would repeat her success in 2008, 2009 and 2010.</p>
      </div>
    </div>
  </div>
</div>
}


