@(page: String, isLoggedIn: Boolean, user: User, Surfers:  com.avaje.ebean.Page[Surfer], 
typeList: Map[String,Boolean], countryList: Map[String,Boolean], searchForm : Form[views.formdata.SearchForm])

@import bootstrap3._

@Main(page, isLoggedIn, user, typeList, countryList, searchForm) {
<div class="container">
  @if(Surfers.getList().size() > 0) {
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      @for(surfer <- Surfers.getList) {
      <tr>
        <td><a href="@routes.Surfers.getSurfer(surfer.getSlug())">@surfer.getName()</a></td>
        <td>@surfer.getShortBio(40) ...</td>
      </tr>
      }
    </tbody>
  </table>
  @pagination(Surfers) 
  } else {
  <div class="col-sm-8 col-sm-offset-2">
    <h3>There were no results matching this query.</h3>
  </div>
  }
</div>
}
