@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, Surfers: List[Surfer], typeList: Map[String,Boolean], countryList: Map[String,Boolean], SurferResults: List[Surfer], searchForm : Form[views.formdata.SearchFormData])


@Main(page, isLoggedIn, userInfo, Surfers, typeList, countryList, searchForm) {
 <div class="container">
  <table class="table table-condensed">
  <thead>
  <tr>
  <td>Name</td>
  <td>Hometown</td>
  <td>Country</td>
  </tr>
  </thead>
  <tbody>
    @for(surfer <- SurferResults) {
    <tr>
    <td><a href="@routes.Application.getSurfer(surfer.getSlug())">@surfer.getName()</a></td>
    <td>@surfer.getHome()</td>
    <td>@surfer.getCountry()</td>
    </tr> }
  </tbody>
  </table>
</div>

}